<%- include('partials/_header') %>

<div>
<div class="container text-center">
    <div class="x404">
        <h1 style="font-size: 350px;"><span style="color:#4285F4 ;">4</span>
            <span style="color: #DB4437;"><svg xmlns="http://www.w3.org/2000/svg" width="350" height="350" viewBox="0 0 24 24"><path fill="currentColor" d="M12.025 21.925q-3.35-3.375-5.337-5.45Q4.7 14.4 3.663 13.025q-1.038-1.375-1.351-2.35Q2 9.7 2 8.5q0-2.3 1.6-3.9T7.5 3q1.125 0 2.175.412q1.05.413 1.875 1.188L10 10h3l-.85 8.375L15 9h-3l1.775-5.3q.625-.35 1.313-.525Q15.775 3 16.5 3q2.3 0 3.9 1.6T22 8.5q0 1.2-.325 2.2q-.325 1-1.375 2.387q-1.05 1.388-3.025 3.451q-1.975 2.062-5.25 5.387Z"/></svg></span>
            <span style="color: #F4B400;">4</span>
            <span style="color: #0F9D58;">!</span></h1>
    </div>

    <div>
        <h3>Opps Someting Went Wrong.</h3>
    <h5>Please wait for <span id="Tsec">0.00</span> sec . you will be redirected !</h5>
    </div>

    

</div>
</div>

<script src="js/x404.js"></script>
<%- include('partials/_footer') %>